
# Compiled Java classes
*.class

# Log files
*.log

# MacOS system files
.DS_Store

# IDE settings
.idea/
*.iml
.vscode/

# Backup files
*~


# Ignore report files
TP 2 - Informe.docx
TP 2 - Informe.pdf
TP2 - Situación problemática.pdf

